<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/main.css">
  <script src="/scripts/main.js"></script>
  <title><%= title %></title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <!-- JavaScript for Materialize -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Session 0</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/characters/new">Add Character</a></li>
      <li><a href="/characters">Character Feed</a></li>
      <%if (currentUser) { %>
        <li><a href="/logout">Log Out</a></li>
      <%} else { %>
        <li><a href="/login">Log In</a></li>
      <%}%>
    </ul>
    </div>
  </nav>
  <main>