<%- include('./partials/header') %>

<form action="/characters" method="POST">
    Name:<br />
    <input type="text" name="name" maxlength="20" required><br />
    Image Link:<br />
    <input type="text" name="image" required><br />
    System:<br />
    <input type="text" name="system" maxlength="20" required><br />
    Class:<br />
    <input type="text" name="class" maxlength="20"><br />
    Intro:<br />
    <input type="text" name="intro" maxlength="128" required><br />
    Height:<br />
    <input type="text" name="height" maxlength="10"><br />
    Weight:<br />
    <input type="text" name="weight" maxlength="10"><br />
    Physical Description:<br />
    <input type="text" name="description" maxlength="500"><br />
    About:<br />
    <textarea name="about" maxlength="10000" style="width:100%;height:150px;"></textarea><br />
    <input type="submit" value="add character">
    </form>