<%- include('./partials/header') %>

<form action="/characters" method="POST">
    Name:<br />
    <input type="text" name="name" required><br />
    Image Link:<br />
    <input type="text" name="image"><br />
    System:<br />
    <input type="text" name="system" required><br />
    Class:<br />
    <input type="text" name="class"><br />
    Intro:<br />
    <input type="text" name="intro" required><br />
    Height:<br />
    <input type="text" name="height"><br />
    Weight:<br />
    <input type="text" name="weight"><br />
    Physical Description:<br />
    <input type="text" name="description"><br />
    About:<br />
    <textarea name="about" style="width:250px;height:150px;"></textarea>
    <input type="submit" value="add character">
    </form>