body {
  background: #1b262c;
  color: white;
}
.nav-wrapper {
  background-color: #0f4c75 !important;
  color: #bbe1fa !important;
}

.feedCharacter {
  padding: 20px;
  display: block;
  overflow: auto;
}

.feedTitle {
  font-size: 35px;
}

.systemClass {
  font-size: 20px;
}
.createdByAt {
  font-size: 11px;
}

.portrait {
  float: left;
}

.imageText {
  padding-left: 5px;
}

.deleteButton {
  display: inline;
}

.viewTitle {
  font-size: 50px;
}

.viewSectionHeader {
  font-size: 25px;
}
